<img src="/neonsignsforcropped.png"><img src="/gitcropped.png">
<br><br>
<div>
-- READ FIRST --<br>
This is a personal project for recreative use only<br>
and because is required to inform a private ssh key<br>
I STRONGELY suggest you to create a github account,<br>
a repo, and SPECIALY a ssh keypair just for this.<br>
<br>
Also, the image has to be 53x7 pixels.<br>
You can use something like <a href="https://www.pixilart.com/draw">pixilart.com</a><br>
to draw whatever your heart desire.<br>
Have Fun<br>
-- READ FIRST --<br>
<br><br>
</div>
<div>
<%= form_for @art_info do |f| %>
  <%= f.label :private_ssh_key %><br>
  <%= f.text_area :key %><br>
  <%= f.label :author_email %><br>
  <%= f.text_field :author_email %><br>
  <%= f.label :main_branch_name %><br>
  <%= f.text_field :main_branch_name %><br>
  <%= f.label :image %><br>
  <%= f.file_field :image %><br>
  <%= f.label :repository_path %><br>
  <%= f.text_field :repo_path %><br>
  <%= f.submit %>
  <%
=begin%>
  <%= f.label :recurring %>
  <%= f.check_box :recurring %><br>
 <%= f.label :degrade %>
  <%= f.check_box :degrade %><br>
  <%= f.label :random %>
  <%= f.check_box :random %><br>
<%
=end%>
<% end %>
</div>
<div>
<br><br>
-- TODO --<br>
Recurrency:<br>
I'm still trying to figure out how to make it recurrent<br>
but erasing all commits by creating a orphan branch and<br>
force pushing as main branch will not erase the contributions.<br>
If you have an ideia, you can colaborate on the <a href="https://github.com/rodrigo/neonsignsforgit">neonsignsforgit git repository</a>
<br><br>
I also will create options like random draw to simulate work so you can<br>
use if you are a idiot and think that stuff like this matters<br>
and other fun options like degrade, paint background and reverse.
<br><br>
Created by <a href="https://github.com/rodrigo">Rodrigo</a><Br>
... because sometimes <a href="https://github.com/lost-my-attention">I lost my attention</a>
</div>
